<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {{ title }}
        {% endblock %}
    </title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
    {% block js %}
    <script> </script>
    {% endblock %}
</head>

<body>
    <div class="header">
        <a class="logo" href="{% url 'main' %}">
            <p><i>i</i>#</p>
        </a>

<!--
        <div class='field'>
            <p>PLACE TAG</p>
        </div>
        <div class='field'>
            <p>PLACE LINK</p>
        </div>
        <div class='field'>
            <p>SET PASSWORD</p>

        </div>
        <div class="button">
            <p>ADD</p>
        </div>
-->

        <form method="POST" class="post-form">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="button">ADD</button>
        </form>

    </div>
    <div class="container">
        {% block links %}
        {% endblock %}
    </div>

</body>

</html>
