{% extends 'mainapp/base.html' %}
{% load staticfiles %}


{% block links %}


{% for item in links %}
<div data='{{ item.id }}' class="link-element">
    <p><a class="element-href" href="{{ item.link }}" target="_blank">{{ item.link }}</a></p>
    <p>{{ item.tag_hash }}</p>
    <p>{{ item.tag_hash }}</p>
    <p class="control">rebirth</p>
    <p class="control">X</p>
</div>
{% endfor %}

<form method="POST" class="post-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Save</button>
</form>


{% endblock %}
